/* div {
    border: 2pt solid black;
} */

.vote {
    width: 100%;
   text-align: center;
}

.articleItem {
    margin: 10px;
    text-align: left;
}

body {
    background-color: #D9DEE6;
}

.voteBox {
    background-color: #F7F8FA;
   width: 100px;
}